/** Volgende CSS gaan we ze geven **/
body {
    font-family: helvetica, sans-serif;
}

h1 {
    font-size: 2.5em;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    margin-bottom: 25px;
}

h2 {
    font-size: 150%;
    color: black;
}
.respimg {
    width: 100%;
    height: auto;
    display: block;
}

.logo img {
    height: 50px;
}

.logo {
    border-bottom: 1px #ebe8e8 solid;
}

.logo div, nav, .recipes, #recommended, h1 {
    width: 600px;
    margin: 0 auto;
}

nav {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px 0;
    text-transform: uppercase;
}

nav a {
    padding: 10px 0;
    text-align: center;
    color: #5b4746;
    font-size: 13px;
}

a:link {
    text-decoration: none;

}

nav a:hover {
    text-decoration: underline 2px #fff100;
}

.nav {
    border-right: 1px solid #ebe8e8;
}

main {
    border-top: 1px solid #ebe8e8;
}

.main {
    background-image: url("images/headerimage.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-shadow: #8D99AE 2px 2px;
    line-height: 500px;
    margin-bottom: 30px;
}

.recipes {
    margin: 50px auto 0 auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #ff4d56;
}

p {
    line-height: 2em;
    color: #666;
}

.auteur {
    padding-right: 10px;
    border-right: 1px solid #ebe8e8;
    font-style: italic;
    float: left;
}

.time {
    padding-left: 10px;
    color: #666;
    float: left;
}

#recommended {
    margin: 50px auto 0 auto;
}

.images {
    margin: 12.5px 0;
}

footer {
    border-top: 1px #ebe8e8 solid;


}

#left {
    float: left;
    width: 50%;
    text-align: right;
    line-height: 2em;
    padding: 20px;
}

#right {
    float: left;
    width: 50%;
    color: white;
    background: black;
    line-height: 2em;
    padding: 20px;
}

@media screen and (min-width: 770px) {
    .logo div, nav, .recipes, #recommended, h1 {
        width: 750px;
    }


}

@media screen and (min-width: 1000px) {
    .logo div, nav, .recipes, #recommended, h1 {
        width: 980px;
    }


}
